
@(
    form: Form[models.entities.User],
    postUrl: Call
)(implicit request: MessagesRequestHeader)

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>

    <body id="user-login">
        <div id="content">
            <div class="container">

            <div id="user-login-form">

                <h1>User Login</h1>

                @request.flash.data.map{ case (name, value) =>
                <div>@name: @value</div>
                }

                @* Global errors are not tied to any particular form field *@
                @if(form.hasGlobalErrors) {
                    @form.globalErrors.map { error: FormError =>
                        <div>
                            Error: @error.key: @error.message
                        </div>
                    }
                }

                @helper.form(postUrl, 'id -> "user-login-form") {
                    @helper.inputText(
                        form("username"),
                        '_label -> "Username",
                        'placeholder -> "username",
                        'id -> "username",
                        'size -> 60
                    )

                    @helper.inputPassword(
                        form("password"),
                        '_label -> "Password",
                        'placeholder -> "password",
                        'id -> "password",
                        'size -> 60
                    )

                    <button>Login</button>
                    <br><br>
                    <a href='@routes.UserController.registerPage()'>Register</a>
                }
            </div>

        </div>

        </div>
    </body>
</html>